<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" charset="UTF-8" src="vue.js">
			
		</script>
	</head>
	<body>
		<div id="app">
			{{ a }}
			<ul>
				<li v-for="item,index in items" v-bind:key="index" >
					{{ index }}   ::  {{ item.message }}
				</li>
			</ul>
			<br>
			<ul>
				<li v-for="value,key  in object" v-bind:key="key">
					{{ key }}  :  {{ value }}
				</li>
			</ul>			
		</div>
		
		
		<script type="text/javascript">
			var vmdata={ 
				a:1 ,
				items:[
					{message: 'foo'},
					{message: 'bar'},
					{message: 'haha'}
				],
				object:{
					title: '好人老李全传',
					author: '老李',
					publicAd: '人名录',
				}
			};			
			var vm =new Vue({
				el: '#app',
				data:vmdata,
			});
			
			
		</script>
	</body>
</html>
