<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" charset="UTF-8" src="vue.js">
			
		</script>
	</head>
	<body>
		<div id="app">
			{{ a }}
			<div id="example-1">
				<input v-model="message" placeholder="edit me">
				<p>Message is: {{ message }}</p>
				<textarea v-model="message" placeholder="edit me">
					
				</textarea>
				<p style="white-space: pre-line;"> message is : {{message}}</p>
			</div>
			<div id="example-2">
				<input type="checkbox" name="jack" id="jack" value="Jack" v-model="checkedNames" />
			    <label for="jack">Jack</label>
				<input type="checkbox" name="john" id="john" value="John" v-model="checkedNames" />
				<label for="john">John</label> 
				<input type="checkbox" name="mike" id="mike" value="Mike" v-model="checkedNames" />
				<label for="mike">Mike</label>
				<br>
				<span id="span1">
					Checked names: {{ checkedNames }}
				</span>
			</div>
			<div id="example-3">
				<input type="radio" name="one" id="one" value="One" v-model="radioName" />
				<label for="one">One</label>
				<input type="radio" name="two" id="two" value="Two" v-model="radioName" />
				<label for="two">Two</label>
				<br>
				<span>
					Checked Radio: {{ radioName }}
				</span>
			</div>
			
			<button type="button" @click="submit2">submit</button>
		</div>
		
		<script type="text/javascript">
			var vmdata={ 
				a: 1 ,
				message: "",
				checkedNames:["Jack",""],
				radioName:'',
			 };
				
				var vm =new Vue({
					el: '#app',
					data: vmdata,
					methods:{
						submit:function(){
							console.log(this.radioName)
						},
						submit2: function(){
							var postObj={
								msg1: this.message,
								msg2: this.checkedNames,
								mesg3: this.radioName,
							}
							console.log(postObj);
							
						}
					}
				})
		</script>
		
	</body>
</html>
